NUXT_PUBLIC_API_URL=/api
NUXT_PUBLIC_BASE_URL=
NUXT_DEV_BACKEND_URL=http://127.0.0.1:3001
NUXT_DEV_MEDIA_PATH=/videos/qualitys
NUXT_PUBLIC_DOCKER_HUB_TAG=kirari04/videocms:beta
NUXT_PUBLIC_NAME=VideoCMS
NUXT_PUBLIC_DEMO=false
